<?xml version="1.0" encoding="UTF-8"?>
<query
	xmlns:yahoo="http://www.yahooapis.com/v1/base.rng" yahoo:count="2" yahoo:created="2012-10-30T11:36:42Z" yahoo:lang="en-US">
	<meta>
		<meta>
			<weather>
				<yahoo_mobile_url>{{advert_link}}</yahoo_mobile_url>
				<twc_mobile_url>{{advert_link}}</twc_mobile_url>
				<units distanceUnits="km" pressureUnits="mb" speedUnits="km/h" tempUnits="C" />
			</weather>
		</meta>
		<meta>
			<weather>
				<yahoo_mobile_url>{{advert_link}}</yahoo_mobile_url>
				<twc_mobile_url>{{advert_link}}</twc_mobile_url>
				<units tempUnits="C" />
			</weather>
		</meta>
	</meta>
	<results>
        {% for location in results %}
		<results>
			<location city="{{location.city}}" country="" latitude="{{location.latitude}}" locationID="{{location.location_id}}" longitude="{{location.longitude}}" state="" woeid="{{location.woeid}}">
				<currently barometer="{{location.barometer}}" barometricTrend="" dewpoint="{{location.depoint}}" feelsLike="{{location.feels_like}}" heatIndex="{{location.feels_like}}" moonfacevisible="{{location.moonfacevisible}}%" moonphase="{{location.moonphase}}" percentHumidity="{{location.p_humidity}}" sunrise="{{location.sunrise_12h}}" sunrise24="{{location.sunrise_24h}}" sunset="{{location.sunset_12h}}" sunset24="{{location.sunset_24h}}" temp="{{location.temp}}" tempBgcolor="" time="{{location.current_time_12h}}" time24="{{location.current_time_24h}}" timezone="{{location.timezone}}" tz="PLACEHOLDER" visibility="{{location.visibility}}" windChill="{{location.feels_like}}" windDirection="" windDirectionDegree="{{location.wind_deg}}" windSpeed="{{location.wind_speed}}">
					<condition code="{{location.currently_condition_code}}" />
				</currently>
				<forecast>
                    {% for day in location.days %}
					<day dayOfWeek="{{day.ordinal}}" poP="{{day.pop}}">
						<temp high="{{day.high}}" low="{{day.low}}" />
						<condition code="{{day.currently_condition_code}}" />
					</day>
                    {% endfor %}
					<extended_forecast_url>{{extended_forecast_url}}</extended_forecast_url>
				</forecast>
			</location>
		</results>
		<results>
			<location woeid="{{location.woeid}}">
				<hourlyforecast>
                    {% for hour in location.hours %}
					<hour time24="{{hour.time_24h}}">
						<condition code="{{hour.currently_condition_code}}" poP="{{hour.poP}}" temp="{{hour.temp}}" />
					</hour>
                    {% endfor %}
				</hourlyforecast>
			</location>
		</results>
        {% endfor %}
	</results>
</query>